@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@200;700&display=swap');

:root {
  --Orange: hsl(25, 97%, 53%);
  --White: hsl(0, 0%, 100%);
  --Light-Grey: hsl(217, 12%, 63%);
  --Medium-Grey: hsl(216, 12%, 54%);
  --Dark-Blue: hsl(213, 19%, 18%);
  --Very-Dark-Blue: hsl(216, 12%, 8%);
  --backgroud: hsl(211, 19%, 23%);
}

* {
  padding: 0;
  margin: 0;
  font-family: 'Overpass', sans-serif;
  box-sizing: border-box;
}

body {
  background-color: var(--Very-Dark-Blue);
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.rating-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 400px;
}

.star-icon {
  background: var(--backgroud);
  padding: 20px;
  border-radius: 30px;
}

.description-header {
  color: var(--White);
  font-size: 15px;
}

.details {
  color: var(--Light-Grey);
  font-size: 15px;
  padding: 20px 0;
  font-weight: 400;
}

.rating-btns {
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex-wrap: nowrap;
  align-items: center;
  gap: 20px;
}

.select-btn {
  display: flex;
  flex-wrap: nowrap;
}

.btn {
  margin-left: 10px;
  background-color: var(--backgroud);
  color: var(--Light-Grey);
  text-align: center;
  height: 6.2vh;
  width: 14.3vw;
  border-radius: 30px;
  border: none;
}

.btn:hover {
  background-color: var(--Medium-Grey);
  color: var(--White);
}

.btn:focus {
  background-color: var(--Orange);
  color: var(--White);
}

.submit-btn {
  background-color: var(--Orange);
  color: var(--White);
  text-align: center;
  font-weight: 800;
  border: none;
  align-self: center;
  justify-self: center;
  width: 80vw;
  height: 40px;
  border-radius: 20px;
  margin-left: 10px;
}

.submit-btn:focus {
  background-color: var(--White);
  color: var(--Orange);
}

.submit-window {
  background-color: var(--Dark-Blue);

  /* display: flex; */
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 20px;
  margin: auto auto;
  border-radius: 20px;
  gap: 13px;
  display: none;
}

.sected-rating {
  background-color: var(--backgroud);
  color: var(--Orange);
  font-size: 10px;
  font-weight: 200;
  padding: 5px 15px;
  border-radius: 20px;
}

.title {
  color: var(--White);
  font-weight: 700;
}

.submit-description {
  color: var(--Light-Grey);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  font-weight: 200;
  gap: 20px;
}

.select-rating-container {
  background-color: var(--Dark-Blue);
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 500px;
  width: 90vw;
  gap: 15px;
  border-radius: 30px;
  padding: 15px 25px;
}

@media (min-width: 480px) {
  .rating-container {
    height: 450px;
    width: 400px;
    gap: 15px;
  }

  .star-icon {
    padding: 20px;
  }

  .description-header {
    font-size: 17px;
  }

  .submit-btn {
    width: 350px;
    height: 40px;
    border-radius: 30px;
  }

  .btn {
    margin-left: 10px;
    background-color: var(--backgroud);
    color: var(--Light-Grey);
    text-align: center;
    height: 3.7rem;
    width: 3.7rem;
    border-radius: 40px;
    border: none;
  }

  .submit-window {
    gap: 21px;
  }

  .sected-rating {
    background-color: var(--backgroud);
    color: var(--Orange);
    font-size: 15px;
    padding: 5px 15px;
    border-radius: 20px;
  }

  .select-rating-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 15px 25px;
    gap: 15px;
    height: 500px;
    width: 450px;
  }
}
